{% block html_head_container %}

{% include 'html-header.twig' %}
	{% block head %}
	{% endblock %}
	</head>
{% endblock %}

	<body class="{{body_class}} tw-bg-secondary" data-template="base.twig">
		{# <a class="skip-link screen-reader-text" href="#content">{{ _e( 'Skip to content') }}</a>#}
		<header class="header tw-mx-6 tw-mt-5 tw-mb-5" >
			{% block header %}
				{% include 'partial/logo.twig' %}
			{% endblock %}
		</header> 

		{# <section id="content" role="main" class="content-wrapper">
			{% if title %}<h1>{{title}}</h1>{% endif %}
			<div class="wrapper {{sidebar_class}}">
				{% block content %}
					Sorry, no content
				{% endblock %}
			</div>
			{% if sidebar %}
				<aside class="layout-sidebar">
					{{sidebar}}
				</aside>
			{% endif %}
		</section> #}

		{# {% block footer %}
			<footer id="footer">
				{% include 'footer.twig' %}
			</footer>
			{{ function('wp_footer') }}
		{% endblock %} #}
		{% block content %}
			Sorry, no content
		{% endblock %}
	</body>
</html>
