<!doctype html>
<!--[if lt IE 9]><html class="no-js no-svg ie lt-ie9 lt-ie8 lt-ie7" {{ site.language_attributes }}> <![endif]-->
<!--[if IE 9]><html class="no-js no-svg ie ie9 lt-ie9 lt-ie8" {{ site.language_attributes }}> <![endif]-->
<!--[if gt IE 9]><!-->
	<html
	class="no-js no-svg" {{ site.language_attributes }}> <!--<![endif]-->
	<head>
		<meta charset="{{ site.charset }}"/>
		<meta name="description" content="{{ site.description }}">
		<link rel="stylesheet" href="{{ site.theme.link }}/static/css/build/style.css" type="text/css" media="screen"/>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="author" href="{{ site.theme.link }}/humans.txt"/>
		<link rel="pingback" href="{{ site.pingback_url }}"/>
		<link rel="profile" href="http://gmpg.org/xfn/11">

		<script
    src="https://cdn.jsdelivr.net/npm/seamless-scroll-polyfill@1.0.0/dist/es5/seamless.auto-polyfill.min.js"
    data-seamless
></script>

		{{function('wp_head')}}

		<style>
			@font-face {
				font-family: Kenac;	
				src: url('{{ site.theme.link }}/static/fonts/Kenac-Regular.otf') format("woff");
			}
		</style>
	</head>
</html>

