{% extends "base.twig" %}

{% block content %}

	<div class="intro tw-w-80 sm:tw-w-96 tw-m-auto tw-mb-12 ztw-border tw-border-redzz-500 sm:tw-relative">

		<button id="get-in-touch" class="tw-font-sans tw-text sm:tw-text-xl tw-border-2 tw-border-black tw-inline-block tw-px-4 tw-py-1 tw-w-40 tw-absolute sm:tw--right-40 tw--right-0 tw-mr-5">Get in touch</button>


		<div class="tw-mb-8 tw-w-1/2"><img src="{{site.theme.link}}/static/img/firma.svg" alt=""></div>
		<div class=" tw-font-serif  sm:tw-text-xl tw-text-lg tw-italic tw-mb-5 sm:tw-mb-10 tw-font-thin tw-leading-5 tw-pr-8 sm:tw-pr-0">Stride was built with the idea that business performance and marketing can go hand in hand.
		</div>
		<div class="tw-font-sans tw-text-3xl sm:tw-text-4xl tw-mb-5 sm:tw-mb-10">We are now building our new website.
			<br>Stay tuned!</div>

		<div class="tw-w-2/3"><img src="{{site.theme.link}}/static/img/lines.svg" alt=""></div>

	</div>


	<div class="tw-m-auto tw-mb-10 tw-w-4/5 txw-border tw-border-red-300" style="max-width:650px">
		
		<div class="tw-flex tw-items-end tw-justify-end tw-mb-10 ztw-border tw-border-redz-200">
			<h2 class="tw-w-2/5 tw-font-sans tw-text-8xl tw-hidden sm:tw-block">We...</h2>

			<div class="tw-w-5/5 sm:tw-w-3/5 tw-flex tw-items-end ">
				<img class="tw-max-h-20 sm:tw-mr-3 tw-mr-14 tw-mb-3 " src="{{site.theme.link}}/static/img/phone.svg" alt="">
				<p class="tw-pl-2 tw-text-x">We create and deliver performance driven marketing outcomes, through our clients digital potential.</p>
			</div>
		</div>

		<div class="tw-flex ztw-border tw-border-redz-500 tw-mb-10">

			<div class="tw-w-5/5  sm:tw-w-3/5 tw-flex tw-items-end">
				<img class="tw-max-h-16 tw-mb-3  tw-mr-2 sm:tw-mr-0" src="{{site.theme.link}}/static/img/cup.svg" alt="">
				<p class="tw-pl-2">We work as part of a wider collective to ensure all aspects of marketing are driving busines results.</p>
			</div>

		</div>

		<div class="tw-flex ztw-border tw-justify-end tw-border-redz-500 tw-mb-10">

			<div class="tw-w-5/5  sm:tw-w-3/5 tw-flex tw-items-end tw-justify-items-end">
				<img class="tw-max-h-20 tw-mb-10 tw-mr-8" src="{{site.theme.link}}/static/img/eye.svg" alt="">
				<p class="tw-pl-2">We are your client partner, with one dedicated person taking care of the management, alignment and delivery of your marketing strategy across all your chosen specialists.</p>
			</div>

		</div>

		<div class="tw-flex ztw-border tw-border-redz-500 tw-mb-10">

			<div class="tw-w-5/5  sm:tw-w-3/5 tw-flex tw-items-end">
				<img class="tw-max-h-20 tw-mr-4 tw-mb-3" src="{{site.theme.link}}/static/img/data.svg" alt="">
				<p class="tw-pl-2">We are data-led, goals-orientated and people centric; with great insights, knowledge & partnership we move your business forward with purpose.
				</p>
			</div>

		</div>
	</div>

	<div class="tw-m-auto tw-flex tw-flex-wrap sm:tw-justify-end tw-relative twx-border tw-justify-center" style="max-width:650px">
		<div class="tw-w-3/4 sm:tw-w-1/2 ">
			<div class="tw-border-2 tw-border-black tw-text-center tw-flex tw-items-center tw-justify-center tw-flex-col circle-responsive">
				<div class="circle-content tw-flex tw-items-center tw-justify-center tw-flex-col">
					<h3 class="tw-font-sans tw-text-3xl sm:tw-text-4xl tw-mb-4">Performance
						<br>Consulting
					</h3>

					<ul class="tw-list-non tw-font-serif  tw-text-lg sm:tw-text-xl tw-italic tw-font-extralight tw-leading-5">
						<li>Market research & planning,
						</li>
						<li>Roadmap development</li>
						<li>Performance evaluation</li>
					</ul>
				</div>
			</div>
		</div>
		<div class="tw-w-3/4 sm:tw-w-1/2  sm:tw-mt-20 tw--mt-10 sm:tw--ml-10">

			<div class="tw-border-2 tw-border-black tw-text-center tw-flex tw-items-center tw-justify-center tw-flex-col circle-responsive">
				<div class="circle-content tw-flex tw-items-center tw-justify-center tw-flex-col">
					<h3 class="tw-font-sans tw-text-3xl sm:tw-text-4xl tw-mb-4">Digital
						<br>Marketing
					</h3>

					<ul class="tw-list-non tw-font-serif tw-text-lg sm:tw-text-xl tw-italic tw-font-extralight tw-leading-5">
						<li>Strategy & Delivery, Paid
						</li>
						<li>Search, Google Shopping, SEO,</li>
						<li>Content, Display, Paid Social</li>
					</ul>
				</div>
			</div>
		</div>

		<div class=" tw-w-4/5 sm:tw-w-2/5 tw-mt-5 sm:tw-mt-96 tw--ml-8 sm:tw--ml-0 tw-mb-8 sm:tw--left-10 tw-font-sans tw-text-3xl ztw-border tw-border-redz-300 sm:tw-absolute  sm:tw-order-none tw-order-last ">All brought together by a single dedicated client partner</div>

		<div class="tw-w-3/4 sm:tw-w-1/2 tw--mt-10 sm:tw-mr-10 tw-justify-self-start">

			<div class="tw-border-2 tw-border-black tw-text-center tw-flex tw-items-center tw-justify-center tw-flex-col circle-responsive">
				<div class="circle-content tw-flex tw-items-center tw-justify-center tw-flex-col">
					<h3 class="tw-font-sans tw-text-3xl sm:tw-text-4xl tw-mb-4">Stride
						<br>Collective
					</h3>

					<ul class="tw-list-non tw-font-serif  tw-text-lg sm:tw-text-xl tw-italic tw-font-extralight tw-leading-5">
						<li>
							<p>Our network of professionals
								<br>
								from all areas of marketing
								<br>
								working as one collective:
								<br>
								Creative, PR, Editorial, Brand
								<br>
								Marketing, Off-line, Media
							</p>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>


<div class="tw-mt-10 tw-bg-no-repeat tw-bg-center tw-h-96" style="background-image: url({{site.theme.link}}/static/img/form-img-crop-top.jpg.); height:50vh">
</div>{# <img src="{{site.theme.link}}/static/img/form-img-crop.jpg" alt=""> #}

<div id="contact-form" class="contact  tw-m-auto tw-mt-10 tw-pb-20" style="max-width:650px;">

	<h2 class="tw-font-sans tw-text-5xl sm:tw-text-8xl  tw-text-center tw-mb-10">- Get in touch</h2>

	<div class="landpage-form tw-flex">
		{{ function('do_shortcode', '[contact-form-7 id="7" title="Get in Touch"]') }}

	</div>
</div>

<style>

.circle-responsive {
	border-radius: 50%;
	height: 0;
	padding-bottom: 100%;
	width: 100%;
}
.circle-content {
	padding-top: 100%;
	width: 100%;

}

.landpage-form form {
	display: flex;
	flex-wrap: wrap;


}
@media(max-width: 640px) {
	.landpage-form form {
		flex-wrap: wrap;
		max-width: 80%;
		margin: 0 auto;
		align-items: center;
	}
}

.lpf-data {
	width: 30%;
	margin-right: 1rem;
}
@media(max-width: 640px) {
	.lpf-data {
		width: 100%;
		margin-right: 0;
	}
}
.lpf-send {
	width: 66%;
	padding-left: 1rem;
	margin-top: -0.5rem;
}
@media(max-width: 640px) {
	.lpf-send {
		width: 100%;
		padding-left: 0;
	}
}

.wpcf7-response-output {
	width: 100%;
}

.landpage-form input,
.landpage-form textarea {
	background-color: #AED5AF;

}

.landpage-form input {
	border-bottom: 2px black solid;
	margin-bottom: 2rem;
	width: 100%;
	padding-bottom: 5px;

}

.landpage-form label {

	font-size: 1.2rem;
	margin-top: -21rem;


}


.landpage-form textarea {
	border: 2px black solid;
	width: 100%;
	margin-top: 8px;
	height: 190px
}
.landpage-form input[type="submit"] {
	border: 2px black solid;
	width: 100%;
	padding: 0.5rem;
	margin-top: 1rem;
}

.landpage-tel {}
.landpage-form input[type="tel"] {}

.landpage-tel span {}

.landpage-form input::placeholder {
	color: black;
	transition: all 1s;
	margin-bottom: 10px;
	font-size: 1.2rem;
}
input:focus::placeholder {
	opacity: 0;
}</style>

<script>
let form = document.querySelector("#contact-form");
let getInTouch = document.querySelector("#get-in-touch");

getInTouch.addEventListener("click", function () {
    form.scrollIntoView({behavior: "smooth"});   
})

</script>

{% endblock %}
