<table class="demo" cellspacing="0" cellpadding="0" style="width: 100%;font-size:40px; font-family:'Kenac',Times New Roman,Times,Baskerville,Georgia,serif; margin-bottom:20px">
  <tbody>
    <tr>
      <td style="display: inline-block;">strid</td>
      <td style="width:100%;">
        <div style="border-bottom:solid 1px black;width:100%; margin-left:2px;margin-top:2px;width:100%;"></div>
      </td>
      <td style="">e</td>
    </tr>
  </tbody>

</table>