<div class="tw-flex tw-justify-between tw-w-1/2">
	<a href="">
		<img class=" tw-w-12" src="{{ site.theme.link }}/static/img/instagram.svg" alt="Linkedin">
    </a>
	<a href="">
        <img class=" tw-w-12" src="{{ site.theme.link }}/static/img/linkedin.svg" alt="Instagram">
    </a>
	<a href="">
        <img class=" tw-w-12" src="{{ site.theme.link }}/static/img/facebook.svg" alt="Facebook">
    </a>
</div>

